﻿<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-ui-router")
    @Scripts.Render("~/bundles/angular-ui-module")
    @Scripts.Render("~/bundles/contrl")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/ngStorage")  
    @RenderSection("scripts", required: false)

    
  

</head>
<body ng-app="app">
    <div class="container body-content" ng-controller="mainController">

        <div ng-controller="MetadataCntrl">

            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a ui-sref ="Home" class="navbar-brand" >Magacinsko poslovanje</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href ="#"class="dropdown-toggle" data-toggle="dropdown" ng-if="isLoggedIn()">Tabele <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="table in tables">
                                    <a ui-sref={{table.Uri}} ng-hide="table.Code=='KORISNIK'">
                                        {{table.Name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li><a href="#">Izveštaji (recimo)</a></li>*@
                        <li ng-if="isLoggedIn()"><a>Poslovna godina: {{godinaPoslovanja}}</a></li>
                        <li><a href="#" ng-click="logout()" ng-show="isLoggedIn()">Log out</a></li>
                      
                    </ul>
                </div>
            </div>



        </div>
        <div class="container">
            @RenderBody()
        </div>


    </div>

</body>
</html>
