﻿
@{
    Layout = null;
}

<div modal="showModal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Potvrda brisanja</h4>
        </div>
        <div class="modal-body">
            <h5>Da li ste sigurni da zelite da obrisete stavku?</h5>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ponistiBrisanje()">Ponisti</button>
            <button class="btn btn-success" ng-click="ObrisiStavku()">Obrisi</button>
        </div>
    </div>
</div>

