﻿
@{
    Layout = null;
}

<div>

    <br />

    <form name="form" class="form-horizontal" ng-submit="submitFormSearch()" novalidate>
        <fieldset>
            <legend>Forma za pretragu</legend>
            <div ng-repeat="column in colums" ng-class="{ 'has-error' : ngform.{{column.Code}}.$invalid}" class="form-group">
                <ng-form name="ngform">

                    <div ng-if="column.IsFK">
                        <div class="form-group">
                            <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                            <div class="col-lg-10">
                                <div ng-if="isNext && column.Code==filter.id">
                                    <select id="{{column.Code}}" class="form-control" required disabled ng-options="option.Value for option in getSelectOptions(column.Code) track by option.Id" ng-model="selectedOption" ng-init="selectedOption=getSelectedOption()"></select>
                                </div>
                                <div ng-if="!isNext || (isNext && column.Code!=filter.id)">
                                    <div class="input-group">
                                        <select id="{{column.Code}}" class="form-control" required ng-options="option.Value for option in getSelectOptions(column.Code) track by option.Id" ng-model="selectedOption"></select>
                                        <div class="col-lg-1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="zoom(column.Code)">...</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!column.IsFK">

                        <div ng-if="column.Type=='int' || column.Type=='decimal' || column.Type=='numeric'" class="form-group">
                            <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                            <div class="col-lg-10">
                                <div ng-if="!isNext || (isNext && column.Code!=filter.id)">
                                    <input type="number" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" />
                                </div>
                                <div ng-if="isNext && column.Code==filter.id">
                                    <input type="number" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" ng-init="name=filter.value" disabled />
                                </div>
                            </div>
                        </div>

                        <div ng-if="column.Type=='varchar' || column.Type=='char'" class="form-group">
                            <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                            <div class="col-lg-10">
                                <div ng-if="!isNext || (isNext && column.Code!=filter.id)">
                                    <input class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="value" />
                                </div>
                                <div ng-if="isNext && column.Code==filter.id">
                                    <input class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="value" ng-init="value=filter.value" />
                                </div>
                            </div>
                        </div>

                        <div ng-if="column.Type=='date' || column.Type=='datetime'" class="form-group">
                            <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="value" />
                            </div>
                        </div>

                        <div ng-if="column.Type=='bit'" class="form-group">
                            <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                            <div class="col-lg-10">
                                <div class="checkbox">
                                    <input type="checkbox" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" />
                                </div>
                            </div>
                        </div>

                    </div>

                </ng-form>

            </div>

            <br />
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default" ng-click="restoreSearch()">Poništi</button>
                    <button id="submit" type="submit" class="btn btn-primary" ng-disabled="provera()">Pretrazi</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>


