﻿@{
    Layout = null;
}

<div>
    
    <br/>

    <form name="form" class="form-horizontal" ng-submit="submitFormEdit()" novalidate>
        <fieldset>
            <legend>Forma za izmenu</legend>
            <div ng-repeat="column in colums" ng-class="{ 'has-error' : ngform.{{column.Code}}.$invalid}" class="form-group">
                <ng-form name="ngform">

                    <div ng-if="column.IsFK">
                        <div class="form-group">
                            <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                            <div class="col-lg-10">
                                <div ng-if="isNext && column.Code==filter.id">
                                    <select id="{{column.Code}}" class="form-control" required disabled ng-options="option.Value for option in getSelectOptions(column.Code) track by option.Id" ng-model="selectedOption" ng-init="selectedOption=getSelectedOption()"></select>
                                </div>
                                <div ng-if="!isNext || (isNext && column.Code!=filter.id)">
                                    <div class="input-group">
                                        <select id="{{column.Code}}" class="form-control" required ng-options="option.Value for option in getSelectOptions(column.Code) track by option.Id" ng-model="selectedOption" ng-init="selectedOption=getSelectedValue(column.Code)"></select>
                                        <div class="col-lg-1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="zoomFromEdit(column.Code)">...</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!column.IsFK">

                    <!--Numericka vrednost-->
                    <div ng-if="column.Type=='int' || column.Type=='decimal' || column.Type=='numeric'" class="form-group">
                        <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                        <div class="col-lg-10">
                            <div ng-if="column.Code=='VREDNOST'">
                                <input type="text" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="value" ng-required="!column.IsMandatory" disabled ng-init="value=getValue(column.Code)"/>
                            </div>
                            <div ng-if="column.Code=='REDNI_BROJ_DOKUMETNA'">
                                <input type="text" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="value" ng-required="!column.IsMandatory" ng-disabled="column.IsPrimary" ng-init="value=getValue(column.Code)" readonly />
                            </div>
                            <div ng-if="column.Code!='VREDNOST' && column.Code!='REDNI_BROJ_DOKUMETNA'">
                                <input type="number" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="value" ng-required="!column.IsMandatory" ng-disabled="column.IsPrimary" ng-init="value=getValue(column.Code)" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Polje ne može biti prazno!</span>
                            </div>
                            </div>
                    </div>

                    <!-- tekstualna vrednost-->
                    <div ng-if="column.Type=='varchar' || column.Type=='char'" class="form-group">
                        <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                        <div class="col-lg-10">
                            <div ng-if="column.Code=='TIP_PARTNERA'">
                                <div ng-init="name=getValue(column.Code)">
                                    <select ng-model="name" class="form-control" id="{{column.Code}}" name="{{column.Code}}" required>
                                        <option value="kupac">Kupac</option>
                                        <option value="dobavljac">Dobavljac</option>
                                        <option value="kupac i dobavljac">Kupac i dobavljac</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-if="column.Code=='VRSTA_DOKUMENTA'">
                                <div ng-init="name=getValue(column.Code)">
                                    <select ng-model="name" class="form-control" id="{{column.Code}}" name="{{column.Code}}" required>
                                        <option value="Pr">Primka</option>
                                        <option value="Ot">Otpremnica</option>
                                        <option value="Mm">Medjumagacinski promet</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-if="column.Code=='STATUS'">
                                <div ng-init="name=getValue(column.Code)">
                                    <select ng-model="name" class="form-control" id="{{column.Code}}" name="{{column.Code}}" required>
                                        <option value="F">U fazi formiranja</option>
                                        <option value="P">Proknjizen</option>
                                        <option value="S">Storniran</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-if="column.Code!='TIP_PARTNERA' && column.Code!='VRSTA_DOKUMENTA' && column.Code!='STATUS'">
                                <input class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="value" ng-required="!column.IsMandatory" ng-disabled="column.IsPrimary" ng-init="value=getValue(column.Code)" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Polje ne može biti prazno!</span>
                            </div>
                         </div>
                    </div>

                    <div ng-if="column.Type=='date' || column.Type=='datetime'" class="form-group">
                        <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                        <div class="col-lg-10">
                            <input type="date" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="value" ng-required="!column.IsMandatory" ng-disabled="column.IsPrimary" ng-init="value=getDateValue(column.Code)" />
                            <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Polje ne može biti prazno!</span>
                        </div>
                    </div>

                    <div ng-if="column.Type=='bit'" class="form-group">
                        <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                        <div class="col-lg-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" ng-disabled="column.IsPrimary" value={{getValue(column.Code)}} />
                                    <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Polje ne može biti prazno!</span>
                                </label>
                            </div>
                        </div>
                    </div>

                        </div>

                </ng-form>

            </div>

            <br/>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default" ng-click="restore()">Poništi</button>
                    <button id="submit" type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Potvrdi</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>
