﻿@{
    Layout = null;
}

<div>
    
    <br/>

    <form name="form" class="form-horizontal" ng-submit="submitForm()" ng-init="initForm()" >
        <fieldset>
            <legend>Forma za dodavanje</legend>
            <div ng-repeat="column in colums" ng-class="{ 'has-error' : ngform.{{column.Code}}.$invalid}" class="form-group">
                <ng-form name="ngform">

                    <div ng-if="column.IsFK">
                        <div class="form-group">
                            <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                            <div class="col-lg-10">
                                <div ng-if="isNext && column.Code==filter.id">
                                    <select id="{{column.Code}}" class="form-control" required disabled ng-options="option.Value for option in getSelectOptions(column.Code) track by option.Id" ng-model="selectedOption" ng-init="selectedOption=getSelectedOption()"></select>
                                </div>
                                <div ng-if="!isNext || (isNext && column.Code!=filter.id)">
                                    <div class="input-group">
                                        <div ng-if="column.Code=='ID_ROBE'">
                                            <select id="{{column.Code}}" class="form-control" required ng-options="option.Value for option in getSelectOptions(column.Code) track by option.Id" ng-model="selectedOptionRoba" ng-change="robaChanged()" ></select>
                                        </div>
                                        <div ng-if="column.Code!='ID_ROBE'">
                                            <select id="{{column.Code}}" class="form-control" required ng-options="option.Value for option in getSelectOptions(column.Code) track by option.Id" ng-model="selectedOption"></select>
                                        </div>
                                        <div class="col-lg-1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="zoom(column.Code)">...</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!column.IsFK">

                    <!--Numericka vrednost -->
                    <div ng-if="column.Type=='int' || column.Type=='decimal' || column.Type=='numeric'" class="form-group">
                        <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                        <div class="col-lg-10">
                            <div ng-if="column.Code=='VREDNOST'" >
                                <input type="text"  class="form-control" id="{{column.Code}}" value ="{{kolValue.value *cenaValue.value}}" name="{{column.Code}}"  readonly />
                            </div>
                            <div ng-if="column.Code=='KOLICINA_STAVKE'">
                                <input type="number" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-init='kolValue.value = 1' min="1" ng-model="kolValue.value" ng-required="!column.IsMandatory" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Ovo polje je obavezno za unos!</span>
                            </div>
                            <div ng-if="column.Code=='CENA'">
                                <div ng-if="isNext && (filter.dokument['VRSTA_DOKUMENTA']=='Ot' || filter.dokument['VRSTA_DOKUMENTA']=='Mm')">
                                    <input type="number" min="0" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="cenaValue.value" ng-required="!column.IsMandatory" readonly/>
                                </div>
                                <div ng-if="(isNext && filter.dokument['VRSTA_DOKUMENTA']=='Pr') || !isNext">
                                    <input type="number" min="0" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="cenaValue.value" ng-required="!column.IsMandatory" />
                                    <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Ovo polje je obavezno za unos!</span>
                                </div>
                            </div> 
                            <div ng-if="column.Code=='GODINA'">
                                <input type="text" ng-pattern="/^[0-9]{4,4}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="cenaValue.value" ng-required="!column.IsMandatory" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Ovo polje je obavezno,format unosa je godina(2015)!
                                </span>
                            </div> 
                            <div ng-if="column.Code=='ID_GODINE'">
                                <input type="text" class="form-control" id="{{column.Code}}" name="{{column.Code}}" value ={{godinaPoslovanjaID}}  ng-required="!column.IsMandatory" readonly />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Ovo polje je obavezno,format unosa je godina(2015)!
                                </span>
                            </div> 
                            <div ng-if="column.Code=='REDNI_BROJ_DOKUMETNA'">
                                <input type="text" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" ng-init="name=tableData.length+1" disabled />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Adresa mora poceti velikim slovom ili brojem, moze biti maksimalne duzene 128 karaktera!
                                </span>
                            </div>
                            <div ng-if="column.Code!='VREDNOST' && column.Code!='KOLICINA_STAVKE' && column.Code!='CENA' && column.Code!='GODINA' && column.Code!='ID_GODINE' && column.Code!='REDNI_BROJ_DOKUMETNA' ">
                                <div ng-if="!isNext || (isNext && column.Code!=filter.id)">
                                    <input type="number" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" ng-required="!column.IsMandatory" />
                                    <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Ovo polje je obavezno za unos!</span>
                                </div>
                                <div ng-if="isNext && column.Code==filter.id">
                                    <input type="number" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" ng-required="!column.IsMandatory" ng-init="name=filter.value" disabled />
                                    <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Ovo polje je obavezno za unos!</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                
                    <!--tekstualna vrednost -->
                    <div ng-if="column.Type=='varchar' || column.Type=='char'" class="form-group">
                        <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                        <div class="col-lg-10">
                            <div ng-if="column.Code=='PIB_PREDUZECA'">
                                <input type="number" ng-pattern="/^[0-9]{9,9}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                 <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                   Vrednost polja PIB preduzeca mora sadrzati devet pozitivnih brojeva! 
                                </span>
                            </div>
                            <div ng-if="column.Code=='PIB_PARTNERA'">
                                <input type="number" ng-pattern="/^[0-9]{9,9}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Vrednost polja PIB partnera mora sadrzati devet pozitivnih brojeva!
                                </span>
                            </div>
                            <div ng-if="column.Code=='NAZIV_PREDUZECA'">
                                <input type="text" ng-pattern="/^[A-Z][a-zA-Z0-9\s*]{0,127}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Naziv je obavezan, moram poceti velikim slovom, ne moze imati vise od 128 karaktera!
                                </span>
                            </div>
                            <div ng-if="column.Code=='NAZIV_PARTNERA'">
                                <input type="text" ng-pattern="/^[A-Z][a-zA-Z0-9\s*]{0,127}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Naziv je obavezan, moram poceti velikim slovom, ne moze imati vise od 128 karaktera!
                                </span>
                            </div>
                            <div ng-if="column.Code=='WEB_STRANICA'">
                                <input type="text" ng-pattern="/^w{3,3}\.[a-zA-Z0-9]{1,52}\.[a-zA-Z]{3,3}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                   Mora biti oblika www.nazivStranica.provajder
                                </span>
                            </div>
                            <div ng-if="column.Code=='TELEFON_PARTNERA'">
                                <input type="text" ng-pattern="/^[0-9]{0,32}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Broj telefona se satoji od brojeva,maksimalna duzina 32!
                                </span>
                            </div>
                            <div ng-if="column.Code=='TELEFON_PREDUZECA'">
                                <input type="text" ng-pattern="/^[0-9]{0,32}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Moraju biti brojevi!
                                </span>
                            </div>
                            <div ng-if="column.Code=='ADRESA_PREDUZECA'">
                                <input type="text" ng-pattern="/^[A-Z0-9][a-zA-Z0-9\s*]{0,64}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                   Moze biti maksimalne duzene 64 karaktera!
                                </span>
                            </div>
                            <div ng-if="column.Code=='ADRESA_PARTNERA'">
                                <input type="text" ng-pattern="/^[A-Z0-9][a-zA-Z0-9\s*]{0,63}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Moze biti maksimalne duzene 64 karaktera!
                                </span>
                            </div>
                            <div ng-if="column.Code=='NAZIV_GRUPE'">
                                <input type="text" ng-pattern="/^[A-Z0-9][a-zA-Z0-9\s*]{0,39}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required/>
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Naziv mora poceti velikim slovom ili brojem, maksimalni broj karaktera 40!
                                </span>
                            </div>

                            <div ng-if="column.Code=='NAZIV_JEDINICE_MERE'">
                                <input type="text" ng-pattern="/^[A-Z][a-zA-Z0-9\s*]{0,63}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Naziv mora poceti velikim slovom, maksimalni broj karaktera 64!
                                </span>
                            </div>
                            <div ng-if="column.Code=='NAZIV_MESTA'">
                                <input type="text" ng-pattern="/^[A-Z0-9][a-zA-Z0-9\s*]{0,79}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Naziv mora poceti velikim slovom, maksimalni broj karaktera 80!
                                </span>
                            </div>

                            <div ng-if="column.Code=='IME'">
                                <input type="text" ng-pattern="/^[A-Z][a-zA-Z\s*]{0,63}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Ime mora poceti sa velikim slovom,sastoji se samo od slova, maksimalni broj karaktera 64!
                                </span>
                            </div>

                            <div ng-if="column.Code=='PREZIME'">
                                <input type="text" ng-pattern="/^[A-Z][a-zA-Z\s*]{0,63}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Prezime mora poceti sa velikim slovom,sastoji je samo od slova maksimalni broj karaktera 64!
                                </span>
                            </div>

                            <div ng-if="column.Code=='BROJ_TELEFONA_RANDIKA'">
                                <input type="text" ng-pattern="/^[0-9]{0,32}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name"  />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Telefon radnika se sastoji od brojeva, maksimalni broj karaktera 32!
                                </span>
                            </div>

                            <div ng-if="column.Code=='ADRESA_RADNIKA'">
                                <input type="text" ng-pattern="/^[A-Z0-9][a-zA-Z0-9\s*]{0,31}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name"  />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                   Adresa radnika mora poceti velikim slovom ili brojem, maksimalni broj karaktera 32!
                                </span>
                            </div>


                            <div ng-if="column.Code=='PTT_OZNAKA'">
                                <input type="text" ng-pattern="/^[0-9]{0,20}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    PTT oznaka se sastoji od brojeva, maksimalni broj karaktera 20!
                                </span>
                            </div>

                            <div ng-if="column.Code=='NAZIV_MAGACINA'">
                                <input type="text" ng-pattern="/^[A-Z0-9][a-zA-Z0-9\s*]{0,127}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Naziv mora poceti velikim slovom ili brojem, maksimalni broj karaktera 128!
                                </span>
                            </div>

                            <div ng-if="column.Code=='NAZIV_ROBE'">
                                <input type="text" ng-pattern="/^[A-Z0-9][a-zA-Z0-9\s*]{0,63}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" required />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Naziv mora poceti velikim slovom ili brojem, maksimalni broj karaktera 64!
                                </span>
                            </div>



                            <div ng-if="column.Code=='ADRESA'">
                                <input type="text" ng-pattern="/^[A-Z0-9][a-zA-Z0-9\s*]{0,127}$/" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">
                                    Adresa mora poceti velikim slovom ili brojem, moze biti maksimalne duzene 128 karaktera!
                                </span>
                            </div>

                            <div ng-if="column.Code=='STATUS'">
                              <div ng-init="name='F'">
                                <input type="text" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" readonly />
                               </div>
                            </div>
                            <div ng-if="column.Code=='TIP_PARTNERA'">
                                <div>
                                    <select ng-model="name" class="form-control" id="{{column.Code}}" name="{{column.Code}}" required>
                                        <option value="kupac">Kupac</option>
                                        <option value="dobavljac">Dobavljac</option>
                                        <option value="kupac i dobavljac">Kupac i dobavljac</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-if="column.Code=='VRSTA_DOKUMENTA'">
                                <div>
                                    <select ng-model="name" class="form-control" id="{{column.Code}}" name="{{column.Code}}" required>
                                        <option value="Pr">Primka</option>
                                        <option value="Ot">Otpremnica</option>
                                        <option value="Mm">Medjumagacinski promet</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-if="column.Code!='STATUS' && column.Code!='TIP_PARTNERA' && column.Code!='VRSTA_DOKUMENTA' &&
                                 column.Code!='PIB_PREDUZECA' && column.Code!='PIB_PARTNERA' && column.Code!='NAZIV_PREDUZECA' && column.Code!='NAZIV_PARTNERA' &&
                                 column.Code!='WEB_STRANICA' && column.Code!='TELEFON_PREDUZECA' && column.Code!='ADRESA_PREDUZECA' &&
                                 column.Code!='TELEFON_PARTNERA' && column.Code!='ADRESA_PARTNERA' && column.Code!='NAZIV_GRUPE' && column.Code!='NAZIV_JEDINICE_MERE' &&
                                 column.Code!='NAZIV_MAGACINA' && column.Code!='ADRESA' && column.Code!='NAZIV_MESTA' && column.Code!='PTT_OZNAKA' &&
                                 column.Code!='NAZIV_ROBE' && column.Code!='NAZIV_MAGACINA' && column.Code!='PREZIME' && column.Code!='IME' && column.Code!='BROJ_TELEFONA_RANDIKA' &&
                                 column.Code!='ADRESA_RADNIKA'">
                                <div ng-if="!isNext || (isNext && column.Code!=filter.id)">
                                    <input type="text" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" ng-required="!column.IsMandatory" />
                                    <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Ovo polje je obavezno za unos!</span>
                                </div>
                                <div ng-if="isNext && column.Code==filter.id">
                                    <input type="text" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" ng-required="!column.IsMandatory" ng-init="name=filter.value" disabled />
                                    <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Ovo polje je obavezno za unos!</span>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div ng-if="column.Type=='date' || column.Type=='datetime'" class="form-group">
                        <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                        <div class="col-lg-10">
                            <input type="date" class="form-control" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" ng-required="!column.IsMandatory" />
                            <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Ovo polje je obavezno za unos!</span>
                        </div>
                    </div>

                    <div ng-if="column.Type=='bit'" class="form-group">
                        <label for="{{column.Code}}" class="col-lg-2 control-label">{{column.Name}}</label>
                        <div class="col-lg-10">
                            <div class="checkbox">
                                <input type="checkbox" id="{{column.Code}}" name="{{column.Code}}" ng-model="name" />
                                <span class="help-block" ng-show="ngform.{{column.Code}}.$dirty && ngform.{{column.Code}}.$invalid">Ovo polje je obavezno za unos!</span>
                            </div>
                        </div>
                    </div>
                        </div>

                </ng-form>

            </div>

            <br/>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default" ng-click="restore()">Poništi</button>
                    <button id="submit" type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Potvrdi</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>
