﻿@{
    Layout = null;
}

<br />
<h1>{{test}}</h1>
<br />
<br />

@*<div name="toolbar">
    <a ui-sref=".dodavanje" class="btn btn-primary" ng-hide="trueFalse || tableCode == 'ROBNA_KARTICA' || tableCode == 'ANALITIKA_MAGACINSKE_KARTICE'" ng-click="trueFalse=true">Dodaj</a>
    <a ui-sref=".pretraga" class="btn btn-primary" ng-hide="trueFalse" ng-click="trueFalse=true">Pretrazi</a>
</div>

<br />

<div ui-view>

</div>

<br />
<table class="table table-hover">
    <tr>
        <th ng-repeat="column in  colums">{{column.Name}}</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="data in tableData">
        <td ng-repeat="column in  colums">{{getObjectValue(data,column.Code)}}</td>
        <td><button class="btn-default" ng-click="edit(data)" ng-hide="tableCode == 'ROBNA_KARTICA' || tableCode == 'ANALITIKA_MAGACINSKE_KARTICE'">Izmeni</button></td>
        <td><button class="btn-default" ng-click="delete(data)" ng-hide="tableCode == 'ROBNA_KARTICA' || tableCode == 'ANALITIKA_MAGACINSKE_KARTICE'">Obriši</button></td>
        <td><button class="btn-default" ng-click="next(data)">Next</button></td>
        <td ng-show="tableCode == 'ROBNA_KARTICA' "><button class="btn-default" ng-click="getReport(data)">Izvestaj</button></td>
    </tr>
</table>

<br />*@