﻿
@{
    Layout = null;
}

<div>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Izbor poslovne godine</h4>
        </div>
        <div class="modal-body">
            <h5>Izaberite poslovnu godinu:</h5>
            <form name="modalForm">
                <select ng-model="selecteItem" required>
                    <option ng-repeat="Godina in poslovneGodine" value="{{Godina.GODINA}},{{Godina.ID_GODINE}},{{Godina.ZAKLJUCENA}}">{{Godina.GODINA}}</option>
                </select>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()" ng-disabled="modalForm.$invalid">Odaberi</button>
        </div>
   </div>
</div>

