﻿@{
    Layout = null;
}

<div ui-view>
    <legend>Stavke dokumenta</legend>
    <table class="table table-hover">
        <tr>
            <th ng-repeat="stColumn in stColumns">{{stColumn.Name}}</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="stavka in stavkeData">
            <td ng-repeat="stColumn in  stColumns">{{getObjectValue(stavka,stColumn.Code)}}</td>
            <td><button ng-show="dokument['STATUS']=='F'" class="btn-default" ng-click="editStavka(stavka)">Izmeni</button></td>
            <td><button ng-show="dokument['STATUS']=='F'" class="btn-default" ng-click="deleteStavka(stavka)">Obriši</button></td>
        </tr>
    </table>

    <br />

    <div ui-view>

    </div>


</div>