﻿@{
    Layout = null;
}

<br />
<h1>{{tableName}}</h1>
<br />
<br />

<div name="toolbar">
    <a ui-sref=".dodavanje" class="btn btn-primary" ng-show="proveraGodineZakljucena()"  ng-click="trueFalse=true">Dodaj</a>
    <a ui-sref=".pretraga" class="btn btn-primary" ng-hide="trueFalse" ng-click="trueFalse=true">Pretrazi</a>
</div>

<br />

<div ui-view>

</div>

<br />
<table class="table table-hover">
    <tr>
        <th ng-repeat="column in  colums">{{column.Name}}</th>

        <th ng-if="proveraGodineZakljucena()">Izmena</th>
        <th ng-if="proveraGodineZakljucena()">Brisanje</th>

        <th ng-hide="nextTables.length==0">Next</th>
        <th ng-show="tableCode == 'ROBNA_KARTICA' || tableCode=='MAGACIN'">Izveštaj</th>
        <th ng-show="tableCode == 'PROMETNI_DOKUMENT'">Knjiženje</th>
        <th ng-show="tableCode == 'PROMETNI_DOKUMENT'">Storno</th>
        <th ng-show="tableCode == 'MAGACIN'">Nivelacija</th>
        <th ng-show="tableCode == 'MAGACIN'">Kreiranje kartice</th>
    </tr>
    <tr ng-repeat="data in tableData | filter: nextFilter" ng-if="proveraGodine(data.ID_GODINE)">
        <td ng-repeat="column in  colums">{{getTableValue(data,column)}}</td>



        <td ng-if="proveraGodineZakljucena()"><button class="btn btn-default btn-xs" ng-click="edit(data)" ng-disabled="tableCode=='PROMETNI_DOKUMENT' && data['STATUS'] != 'F'">Izmeni</button></td>
        <td ng-if="proveraGodineZakljucena()"><button class="btn btn-default btn-xs" ng-click="delete(data)" ng-disabled="tableCode=='PROMETNI_DOKUMENT' && data['STATUS'] != 'F'">Obriši</button></td>
        
        <td ng-hide="nextTables.length==0">
            <div class="btn-group">
                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="nextTable in nextTables"><a role="button" ng-click="next(nextTable, data)">{{nextTable.Name}}</a></li>
                </ul>
            </div>
        </td>
        <td ng-show="tableCode == 'ROBNA_KARTICA' || tableCode=='MAGACIN'"><button class="btn btn-default btn-xs" ng-click="getReport(data)">Izveštaj</button></td>
        <td ng-show="tableCode == 'PROMETNI_DOKUMENT'"><button class="btn btn-default btn-xs" ng-click="callProcedure(data, 'dokumentprocedure', 'Pred_knjizenje')" ng-disabled="data['STATUS']!='F'">Knjiženje</button></td>
        <td ng-show="tableCode == 'PROMETNI_DOKUMENT'"><button class="btn btn-default btn-xs" ng-click="callProcedure(data, 'dokumentprocedure', 'Storno')" ng-disabled="data['STATUS']!='P'">Storno</button></td>
        <td ng-show="tableCode == 'MAGACIN'"><button class="btn btn-default btn-xs" ng-click="callProcedure(data, 'magacinprocedure', 'Nivelacija')">Nivelacija</button></td>
        <td ng-show="tableCode == 'MAGACIN'"><button class="btn btn-default btn-xs" ng-click="callProcedure(data, 'magacinprocedure', 'KreiranjeKartice')" >Kreiranje kartice</button></td>
    </tr>
</table>
<br/>
<button ng-show="isNext || isZoom" class="btn btn-primary" ng-click="goBack()">Nazad</button>